<header>

        <h1 class="navbar-brand">ОКУ КП и VAS</h1>


        {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-primary">
                {{ user.last_name }} {{ user.first_name }} <span class="badge badge-light">{{ user_groups }}</span>
            </button>
        {% endif %}



    <nav class="navbar navbar-expand-lg navbar-dark mb-4">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                {% if request.user.is_authenticated %}
                    <li class="nav-item ">{% url 'questions' as url_questions %}
                        <a class="nav-link {% if url_questions == request.path %}active{% endif %}"
                               href="{% url 'questions' %}">Вопросы</a>
                     </li>
                    <li class="nav-item ">{% url 'statistics' as url_statistics %}
                        <a class="nav-link {% if url_statistics == request.path %}active{% endif %}"
                               href="{% url 'statistics' %}">Статистика</a>
                     </li>
                {% endif %}
                {% if user_groups.id == 1 or user_groups.id == 2 %}
                     <li class="nav-item ">{% url 'edit_questions' as edit_questions %}
                         <a class="nav-link {% if edit_questions == request.path %}active{% endif %}"
                                   href="{% url 'edit_questions' %}">Редактирование <span class="sr-only">(current)</span></a>
                     </li>
                {% endif %}


            </ul>


           {% if user.is_authenticated %}
                <a class="btn btn-outline-success my-2 my-sm-0" href="{%  url 'logout' %}">Выход</a>
           {% else %}
                <a class="btn btn-outline-success my-2 my-sm-0" href="{%  url 'login' %}">Вход</a>
           {% endif %}
        </div>
    </nav>


</header>