{% extends 'questions/base_question.html' %}

{% if user.is_authenticated %}

{% block content %}
    <h1>Статистика вопросов</h1>
    {{ user_groups }}
    {{ user_stat }}


    {% for items in user_stat %}
        <h3> {{ items.count }}</h3>
        <h5>{{ items.date_passage|date:"j E Y" }}</h5>

        {% for vops in items.vop %}
            <h6> {{ vops.id }} - {{ vops.description }}</h6>


        {% endfor %}
    {% endfor %}

{% endblock content %}
{% else %}
    <h2>Вы не авторизованы</h2>
{% endif %}