{% extends 'questions/base_question.html' %}

{% if user.is_authenticated %}

{% block content %}
    <h1>Статистика вопросов</h1>
    {{ user_groups }}
{#    {{ user_stat }}#}



    {% for items_all in user_stat %}
        <h3> {{ items_all.count }}</h3>
        <h5>{{ items_all.date_passage|date:"j E Y" }}</h5>


        {% for vops in items_all.vop %}


                <p>id вопроса: {{ vops.id }} - {{ vops.question_new }}</p>
                <ul>
                    {% for answ in vops.new_answ %}
                        {{ vops.otv }}
                        <li style="{% if answ.id in vops.otv %}color: red{% endif %}">id ответа: {{ answ.id }} - {{ answ.description }} - {% if answ.approved == True %}Правильный ответ{% else %}Не правильный ответ{% endif %} - <h6> {{ items_all.count }}</h6></li>
                    {% endfor %}
                </ul>

        {% endfor %}
    {% endfor %}

{% endblock content %}
{% else %}
    <h2>Вы не авторизованы</h2>
{% endif %}